#map-container{
  position: relative;
  background-color: rgb(229, 227, 223);
  overflow: hidden;
  height: 400px;

}

#map-outer {
  padding: 20px;
  border: 1px solid #CCC;
  margin-bottom: 20px;
  background-color: #FFF;
  border-radius: 5px;
  overflow: hidden;
}

#message,
#name_email,
#contact_us_contact_submit{
  margin-bottom: 10px !important;
}

label#name.input-group,
label#email.input-group,
label#subject.input-group{
  width: 33%;
  display: inline-table;
}

label#message,
input#contact_us_contact_submit{
  margin-top: 10px;
}

@media (max-width: 815px ) {
  label#name.input-group,
  label#email.input-group,
  label#subject.input-group{
    width: 100%;
    margin-bottom: 5px;
  }
  #name_email{
    margin-bottom: 5px;
  }
}
